.user-settings {
  display: flex;
  flex-basis: 5%;
  justify-content: center;
  align-items: center;

  &__img {
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 36px;
    position: relative;

    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(../../../assets/img/avatar.png);
      background-size: cover;
      border-radius: 50%;
      margin-top: -2px;
    }
  }

  &__btn {
    border: none;
    padding: 0 5px;
  }
}
