.user-settings {
  display: flex;
  flex-basis: 5%;
  justify-content: center;
  align-items: center;

  &__img {
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 36px;
  }

  &__btn {
    border: none;
    padding: 0 5px;
  }
}
