// Iconos
$icomoon-font-family: "chaty";
$icomoon-font-path: "src/assets/fonts";

$icon-pencil: "\e905";
$icon-file-text: "\e922";
$icon-file-text2: "\e926";
$icon-location: "\e947";
$icon-map: "\e94b";
$icon-bell: "\e951";
$icon-bubble2: "\e96e";
$icon-user-plus: "\e973";
$icon-cog: "\e994";
$icon-cogs: "\e995";
$icon-bin: "\e9ac";
$icon-menu: "\e9bd";
$icon-plus: "\ea0a";
$icon-cancel-circle: "\ea0d";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-exit: "\ea14";
$icon-arrow-left2: "\ea40";
$icon-circle-down: "\ea43";
$icon-checkbox-checked: "\ea52";

$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$carme: 'Carme', sans-serif;
$slab: 'Roboto Slab', serif;
