<div class="assigned-task">
  <div class="container">
    <button mat-dialog-close class="btn btn--solid"><i class="icon-arrow-left2"><span> Back</span></i></button>
    <ul class="assigned-task__list">
      <li *ngFor="let user of users" class="assigned-task__item">
        <a (click)="closeModal()" routerLink="/profile/user._id" class="assigned-task__link">
          <!--<img [src]="user.image" class="assigned-task__img">-->
          <img src="http://lorempixel.com/30/30/" class="assigned-task__img">
        </a>
        <div class="assigned-task__info">
          <p class="assigned-task__title">{{user.name}}</p>
        </div>
        <div class="assigned-task__status">
          <p class="assigned-task__status--distance">200m</p>
        </div>
        <button (click)="assignedTask(task,user)" type="button" class="btn">Assigned</button>
      </li>
    </ul>
  </div>
</div>
