.user-profile{
  padding-top: 76px;
  padding-bottom: 76px;

  a{
    text-decoration: none;
    color: white;
    font-size: 20px;
  }

  .container{
    padding: 0 20px;
  }

  &__wrapper{
    padding: 10%;
  }

  &__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
  }

  &__img{
    border-radius: 50px;
    margin-bottom: 15px;
    width: 104px;
    height: 104px;
    position: relative;

    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 104px;
      height: 104px;
      background-image: url(../../../assets/img/avatar.png);
      background-size: cover;
      border-radius: 50%;
    }
  }

  &__title{
    font-size: 20px;
  }

  &__description{
    padding: 30px 0;
    line-height: 1.5;
  }

  &__skills{

    li{
      list-style: inside;
      line-height: 25px;
    }
  }
}
