<div class="user-profile">
    <div class="container">
      <a role="button" routerLink="/init-panel"><i class="icon-arrow-left2"> <span> Back</span></i></a>
      <div class="user-profile__wrapper">
        <div class="user-profile__header">
          <img class="user-profile__img" [src]="user.image" alt="">
          <h2 class="user-profile__title">{{user.name}}</h2>
        </div>
        <div class="user-profile__description">
          <p>{{user.description}}</p>
        </div>
      </div>
    </div>
  </div>

