<div class="my-profile">
    <div class="container">
      <a role="button" routerLink="/init-panel"><i class="icon-arrow-left2"> <span> Back</span></i></a>

      <form class="form" [formGroup]="form" (ngSubmit)="onSave(form.value)">

      <div class="my-profile__header">
        <img class="my-profile__img" src="{{users?.image}}" alt="">
        <mat-form-field class="form__label">
          <input matInput class="form__input" formControlName="image" placeholder="Avatar">
        </mat-form-field>
        <mat-form-field class="form__label">
          <input matInput class="form__input" formControlName="name" placeholder="Name*">
          <mat-error>This Field is Required</mat-error>
        </mat-form-field>
      </div>
      <div class="my-profile__description">
        <mat-form-field class="form__label">
          <textarea matInput class="form__textarea" rows="10" cols="50" formControlName="description" placeholder="Profile Description*"></textarea>
          <mat-error>This Field is Required</mat-error>
        </mat-form-field>
      </div>
      <div>
          <button type="submit" class="btn btn--large" [disabled]="!form.valid">Save Profile</button>
        </div>
    </form>
    </div>
  </div>
