<section class="intro">
  <div class="container">
    <div class="col">
      <h1 class="intro__heading">Awesome Design to Showcase your app</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam veniam ratione inventore, officiis est ab harum molestiae sunt iure placeat omnis voluptatem minima repudiandae tempora! Ab, deleniti culpa. Consectetur dolorum, sapiente, omnis error perferendis perspiciatis blanditiis vel porro quae maxime tenetur mollitia ipsam aspernatur incidunt praesentium commodi! Hic, provident optio.</p>
    </div>
    <div class="col">
      <img class="intro__img" src="../../../assets/img/mobile.png" alt="">
    </div>
  </div>
</section>

<section class="method" id="home">
  <div class="container">
    <div class="col">
      <img class="method__img" src="assets/img/why-our-app.png" alt="">
    </div>
        <div class="col">
          <h2 class="method__heading">Why People Choose Our App</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam veniam ratione inventore, officiis est ab harum molestiae sunt iure placeat omnis voluptatem minima repudiandae tempora! Ab, deleniti culpa. Consectetur dolorum, sapiente, omnis error perferendis perspiciatis blanditiis vel porro quae maxime tenetur mollitia ipsam aspernatur incidunt praesentium commodi! Hic, provident optio.</p>
        </div>
  </div>
</section>

