<section class="intro">
  <div class="container">
    <div class="col">
      <h1 class="intro__heading">Why People Choose Our App</h1>
          <p>Organize and share your tasks in a simple way, describe how you want the task to be done and when you want it to be done. Choose among the closest people who you want to perform your task. Help other people receiving todo's to make their lives simple as you would like it to be yours. With ChatWi we create a united community in task management that fills us with joy and free time.</p>
    </div>
    <div class="col">
      <img class="intro__img" src="../../../assets/img/mobile.png" alt="">
    </div>
  </div>
</section>

<section class="method" id="home">
  <div class="container">
    <div class="col">
      <img class="method__img" src="assets/img/why-our-app.png" alt="">
    </div>
        <div class="col">
          <h2 class="method__heading">Synchronize, Plan and Share</h2>
          <p>You have to travel for work reasons, you have a pet at home, but you do not have any relatives or neighbors who can take care of him while you are out of town. With this App you can count on the service of an Assistant that can do this task for you.</p>
        </div>
  </div>
</section>

